<!DOCTYPE html>
<html>
    <head>
        <title>
            {{site.title}} | Blog
        </title>
        <link rel="icon" href="{{ '/assets/images/favicon.ico' | relative_url }}" type="image/x-icon">
        <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/blog.css">
    </head>
    <body>
        {% include navbar.html active_page="blog"%}
        <div class="main-container">
            <div class="image-container">
                <img src="{{ site.baseurl }}/assets/images/sisyphus.jpg" class="banner-img">
            </div>
            {{content}}
        </div>
    </body>
</html>